@use '../../styles/variables' as *;

:host {
  display: inline-block;
}

// ===========================
// Base button layout
// ===========================
.atom-button {
  padding: 0.6rem 1.2rem;
  border-radius: $radius-base;
  border: none;
  cursor: pointer;
  font-weight: $font-weight-semibold;
  font-family: $font-family-base;
  font-size: $font-size-base;
  transition: background 0.3s;

  &.primary {
    background-color: $primary-color;
    color: $white;
  }

  &.secondary {
    background-color: $secondary-color;
    color: $white;
  }

  &:hover {
    opacity: 0.85;
  }
}