@use '../../styles/variables' as *;
@use 'sass:color';

.accordion {
  border: 1px solid $gray-300;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $gray-50;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);

  &.mobile {
    font-size: 0.9rem;
    width: 730px;
  }

  &.web {
    font-size: 1rem;
  }

  &.expanded {
    border-color: color.adjust($gray-300, $lightness: -10%);
  }

  .accordion-header {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    padding: 1rem;
    background-color: $gray-100;
    cursor: pointer;

    .title {
      font-weight: bold;
      line-height: 1.2;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.5rem;
      width: 1.5rem;
      fill: currentColor;
    }
  }

  .accordion-content {
    padding: 0.5rem 1rem;
    background-color: white;

    .accordion-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0;
      border-bottom: 1px solid $gray-100;
      cursor: pointer;

      span:first-child {
        margin-right: 0.5rem;
      }

      .icon {
        font-size: 1.2rem;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}