<h1>Botão vindo do Stencil:</h1>

<atom-button
  label="Clique aqui"
  variant="primary"
  (atomClick)="handleStencilClick()"
>
  Clique aqui!
</atom-button>

<atom-button
  label="Clique aqui"
  variant="secondary"
  (atomClick)="handleStencilClick()"
>
  Não! Clique aqui!
</atom-button>

<!-- Alert -->
<atom-alert
  device="mobile"
  status="error"
  icon="warning"
  text="Erro ao salvar os dados"
  textcolor="text-red-700"
  strokeColor="stroke-red-200"
  iconColor="icon-yellow-600"
  hasStatusIcon="true"
  hasCloseIcon="true"
></atom-alert>
